*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcyan
}

div#container h1{
    color: red;
    text-align: center;
}

.title{
    font-style: italic;
    color: green
}
